.characters {
    height: 50vh;
    padding:5% 0%;
    model-viewer {
        width: 100vw;
        height: 40vh;
    }
    .info {
        background-color: white;
        color:black; 
        width: 50vw;
        height: 30vh;
        margin: auto;
        display: flex;
        padding: 1%;
        .films {
            display: flex;
            flex-direction: column;
            margin-bottom: 1%;
        }
    }

    p {
        animation: none;
    }
}

